.vscode/**
.vscode-test/**
.claude/**
.pi/**
node_modules/**
src/**
docs/**
.gitignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
images/demo.png
images/banner.png
images/icon.png
images/logo.svg